@model IEnumerable<IMDB.Application.DTOs.MovieDto>
@{
    ViewData["Title"] = "IMDB";
}
<h1>Witamy</h1>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <img src="@item.PictureUrl" class="img-fluid" alt="Image of @item.MovieName">
                <h5 class="card-title">@item.MovieName</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Rating</h6>
                <a class="btn btn-secondary" asp-controller="IMDB" asp-action="Delete" asp-route-MovieName="@item.MovieName">Delete</a>
            </div>
        </div>
    }
</div>